.login__quest {
  max-width: 396px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
}

@media screen and (max-width:767px) {
  .login__guest {
    min-width: 260px;
  }
}