.cards-container__button-more {
  min-width: 320px;
  min-height: 36px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin: 50px auto 80px;
  border: 1px solid #E8E8E8;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transition: 1s;
}

.cards-container__button-more :hover {
  opacity: 0.8;
}

@media screen and (max-width: 1279px){
  .cards-container__button-more {
    margin-top: 50px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px){
  .cards-container__button-more {
    min-width: 240px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 60px;
  }
}
